# .gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bloop/
.metals/

# Java
*.class

# Logs
*.log
log/
logs/

# Temporary files
*~
*.bak
*.old
*.tmp
nohup.out
tmp/

# vim
.*.sw[a-z]

# IntelliJ
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings/
project/metals.sbt

# Mac OS X
._*
.DS_Store

# Windows
Desktop.ini
Thumbs.db
