name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: olafurpg/setup-scala@v2
        with:
          java-version: 1.8
      - name: Run tests
        run: |
          csbt +squantsJVM/compile +squantsJS/compile +squantsJS/fastOptJS
          csbt squantsNative/compile
          csbt +squantsJVM/test +squantsJS/test
